body {
    /* background-color: #1c0f3f; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.m{
    margin-bottom: 5rem;
}

.text{
   color:  #fff764;

}

.me{
    width: 70%;
    margin: 0 auto;
    margin-top: 3rem;
    display: none;
}
.img{
    background-repeat: no-repeat;
}

.img:hover {
    background: none;

}